{{- $globalValues := .Values.global }}
{{- $buildServiceValues := .Values.services.core.buildservice }}
{{- $fileServerValues := .Values.services.core.fileserver }}
{{- $payloadAppValues := .Values.services.payloadapp.payloadapp }}
{{- range $key, $serviceValues := .Values.services.platform }}
{{- if $serviceValues.enabled }}
{{- if $serviceValues.provisionVolumes }}
{{- include "spacefx.fileserver.persistentvolume" (dict "serviceValues" $serviceValues "globalValues" $globalValues "fileServerValues" $fileServerValues) }}
{{- end }}
{{- if $serviceValues.provisionVolumeClaims }}
{{- include "spacefx.fileserver.persistentvolumeclaim" (dict "serviceValues" $serviceValues "globalValues" $globalValues "fileServerValues" $fileServerValues) }}
{{- end }}
{{- include "spacefx.service" (dict "serviceValues" $serviceValues "globalValues" $globalValues "fileServerValues" $fileServerValues "payloadAppValues" $payloadAppValues "buildServiceValues" $buildServiceValues) }}
{{- end }}
{{- end }}
{{- range $key, $serviceValues := .Values.services.host }}
{{- if $serviceValues.enabled }}
{{- if $serviceValues.provisionVolumes }}
{{- include "spacefx.fileserver.persistentvolume" (dict "serviceValues" $serviceValues "globalValues" $globalValues "fileServerValues" $fileServerValues) }}
{{- end }}
{{- if $serviceValues.provisionVolumeClaims }}
{{- include "spacefx.fileserver.persistentvolumeclaim" (dict "serviceValues" $serviceValues "globalValues" $globalValues "fileServerValues" $fileServerValues) }}
{{- end }}
{{- include "spacefx.service" (dict "serviceValues" $serviceValues "globalValues" $globalValues "fileServerValues" $fileServerValues "payloadAppValues" $payloadAppValues) }}
{{- end }}
{{- end }}
{{- $serviceValues := .Values.services.payloadapp.payloadapp }}
{{- if $serviceValues.enabled }}
{{- if $serviceValues.provisionVolumes }}
{{- include "spacefx.fileserver.persistentvolume" (dict "serviceValues" $serviceValues "globalValues" $globalValues "fileServerValues" $fileServerValues) }}
{{- end }}
{{- if $serviceValues.provisionVolumeClaims }}
{{- include "spacefx.fileserver.persistentvolumeclaim" (dict "serviceValues" $serviceValues "globalValues" $globalValues "fileServerValues" $fileServerValues) }}
{{- end }}
{{- include "spacefx.service" (dict "serviceValues" $serviceValues "globalValues" $globalValues "fileServerValues" $fileServerValues "payloadAppValues" $payloadAppValues) }}
{{- end }}